html, body {
  position: relative;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 120px;
}

body {
  padding-top: 70px;
}

.footer {
  border-top:20px solid white;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.right-sidebar {
  overflow-y: scroll;
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
}

.zh-text {
  font-size: 150%;
  white-space: pre-line;
}

.zh-phrase {
  margin-right: 4px;
  border-radius: 4px;
  padding: 0 2px;
}

.zh-phrase-0 {
  background-color: #ddf;
}

.zh-phrase-1 {
  background-color: #fbb;
}

.zh-phrase-2 {
  background-color: #fdb;
}

.zh-phrase-3 {
  background-color: #ffd;
}

.zh-phrase-4 {
  background-color: #dfd;
}

.zh-phrase-5 {
  border-bottom: 1px dotted gray;
  border-radius: 0;
}
