.zh-text {
  font-size: 150%;
  white-space: pre-line;
}

.zh-sent {
  /* border-bottom: 1px dotted black; */
}

.zh-word {
  background-color: #ddf;
  margin-right: 4px;
  border-radius: 4px;
  padding: 0 2px;
}
