<div class="col-sm-8">
  <div class="text-right">{{count}} flashcard(s) left to study.</div>
  <div class="text-center" ng-if="phrase">
    <div style="font-size: 30pt;">{{phrase.phrase}}</div>
    <button class="btn btn-primary" ng-if="!terms" ng-click="show()">看</button>
    <div ng-if="terms">
      <button class="btn btn-danger" ng-click="setLevel(1)">不好</button>
      <button class="btn btn-warning" ng-click="setLevel(phrase.level)">還好</button>
      <button class="btn btn-success" ng-click="setLevel(phrase.level+1)">很好</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div ng-if="terms" ng-include="partialsUrl + 'phrase_detail.html'"></div>
  <div ng-include="partialsUrl + 'term_list.html'"></div>
</div>
