<div class="col-sm-8">
  <h1>Vocabulary</h1>
  <div class="pull-right" ng-if="data">{{data.count}} {{data.count, plural, =1 {result} other {results}}}.</div>
  <table class="table">
    <tr ng-repeat="phrase in phrases">
      <td>{{phrase.phrase}}</td>
      <td>
        <button class="btn btn-default" ng-click="playAudio(phrase.phrase)"><span class="glyphicon glyphicon-volume-up"></span></button>
        <button class="btn btn-default" ng-click="lookup(phrase.phrase)"><span class="glyphicon glyphicon-book"></span></button>
      </td>
      <td>{{phrase.translation|truncate:20}}</td>
      <td><time datetime="{{phrase.updated}}" title="{{phrase.updated|date:'medium'}}" data-placement="right" bs-tooltip>{{phrase.updated|timedelta}}</time></td>
      <td><time datetime="{{phrase.due_date}}" title="{{phrase.due_date|date:'medium'}}" data-placement="right" bs-tooltip>{{phrase.due_date|timedelta}}</time></td>
      <td class="text-right">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" ng-class="{active: phrase.level==n}" ng-repeat="n in [0, 1, 2, 3, 4, 5]">
            <input type="radio" ng-value="n" ng-model="phrase.level" ng-change="edit(phrase)"> {{n}}
          </label>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="col-sm-4 right-sidebar">

  <ul class="pagination">
    <li ng-class="{disabled: !data.previous}">
      <a ng-if="data.previous" ng-click="load(data.previous)">Previous</a>
      <a ng-if="!data.previous">Previous</a>
    </li>
    <li ng-class="{disabled: !data.next}">
      <a ng-if="data.next" ng-click="load(data.next)">Next</a>
      <a ng-if="!data.next">Next</a>
    </li>
  </ul>

  <div ng-include="partialsUrl + 'term_list.html'"></div>

</div>
