<div ng-class="{'col-sm-8': phrase, 'col-sm-12': !phrase}">
  <div class="alert" ng-class="{'alert-success': data.count, 'alert-danger': !data.count}" ng-if="data">
    {{data.count, plural,
    =0 {No results}
    =1 {One result}
    other {Showing {{terms.length}} of {{data.count}} results}}}
    <span> for <strong>{{search_query}}</strong></span>
  </div>
  <div ng-include="'/static/partials/term_list.html'"></div>
  <div class="text-center">
    <ul class="pagination">
      <li><a ng-click="more()" ng-if="data.next">More</a></li>
    </ul>
  </div>
</div>
<div class="col-sm-4" ng-if="phrase">
  <div ng-include="partialsUrl + 'phrase_detail.html'"></div>
</div>
