<div class="col-sm-8">
  <section ng-if="text">
    <h1>{{text.title}}</h1>
    <ul class="list-unstyled">
      <li>
        <span class="glyphicon glyphicon-user"></span>
        <span>Created by <strong>{{text.owner.username}}</strong></span>
      </li>
      <li ng-if="text.video_url">
        <span class="glyphicon glyphicon-facetime-video"></span>
        <a href="{{text.video_url}}" target="_blank">Video</a></li>
      <li ng-if="isWritable">
        <span class="glyphicon glyphicon-edit"></span>
        <a href="#/texts/{{text.id}}/edit">Edit</a>
      </li>
      <li>{{text.text.length}} characters</li>
    </ul>
    <hr>
    <div class="zh-text" contenteditable="{{editMode ? 'plaintext-only' : 'false'}}" ng-model="data.processedText" ng-mouseup="listener()"></div>
    <div ng-if="isWritable">
      <button class="btn btn-primary" ng-if="editMode" ng-click="save()">Save</button>
      <button class="btn btn-default" ng-click="toggleEditMode()">
        {{editMode ? 'Cancel' : 'Edit Text'}}
      </button>
    </div>
  </section>
</div>

<div class="col-sm-4 right-sidebar">

  <div ng-if="text.video_url|embeddedVideoUrl">
    <h2>Video</h2>
    <ul class="list-unstyled">
      <li><a href="{{text.video_url}}" target="_blank">Open in new tab</a></li>
      <li>
        <a ng-click="showVideo = !showVideo">
          <span ng-if="!showVideo">Show inline</span>
          <span ng-if="showVideo">Hide</span>
        </a>
        <div class="embed-responsive embed-responsive-4by3" ng-show="showVideo">
          <iframe class="embed-responsive-item" src="{{text.video_url|embeddedVideoUrl}}"></iframe>
        </div>
      </li>
    </ul>
  </div>

  <div ng-if="selection">
    <h2>{{selection}}</h2>
    <ul class="list-unstyled">
      <li><a href="https://translate.google.com/#zh-CN/en/{{selection}}" target="_blank">Google Translate</a></li>
    </ul>
    <div ng-if="phrases && phrases.length">
      <h3>Dictionary</h3>
      <div ng-include="phraseListPartialUrl"></div>
    </div>
  </div>

</div>
