{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="yanjiu">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Yanjiu{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var PARTIALS_DIR = "{% static 'partials/' %}";
    var USER_ID = {% firstof user.id '0' %};
    var API_BASE_URL = '/api/v1/';
  </script>
</head>
<body>
  <div id="wrapper">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Yanjiu</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
          <li><a href="/#/texts">Texts</a></li>
          <li><a href="/#/texts/create">Create Text</a></li>
          {% if user.is_authenticated %}
          <li><a href="/#/phrases/starred">Starred</a></li>
          {% endif %}
          <li><a href="{% url 'cedict_random' %}">Random</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-controller="SearchFormCtrl" ng-submit="search()">
            <form class="navbar-form">
              <div class="form-group">
                <select class="form-control" ng-model="lang">
                  <option value="zh-tw">Chinese (traditional)</option>
                  <option value="zh-ch">Chinese (simplified)</option>
                  <option value="en">English</option>
                </select>
              </div>
              <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" ng-model="query">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a bs-dropdown="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li>
            <!-- search bar -->
            <form action="{% url 'login' %}" method="POST" class="navbar-form">
              <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
              {% csrf_token %}
              <input type="submit" value="Login" class="btn btn-default">
            </form>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
    <footer class="footer small">
      <div class="container-fluid">&copy; 2016 Casey Dwyer</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-message-format.min.js"></script>
    <script src="{% static 'audio/js/audio.js' %}"></script>
    <script src="{% static 'cedict/js/cedict.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
    {% block end %}
    {% endblock end %}
  </div>
</body>
</html>
