{% extends 'base.html' %}
{% load cedict %}

{% block content %}

{% if search_query %}
{% with page.paginator.count as n %}
<div class="alert {% if n %}alert-success{% else %}alert-danger{% endif %}">Showing {{ page.object_list.count }} of {{ n }} result{{ n|pluralize }}.</div>
{% endwith %}
{% endif %}

<ul class="media-list">
  {% for phrase in phrases %}
  <li class="media">
    <div class="media-body">

      <h4 class="media-heading">
        <a href="{% url 'cedict_phrase_tw' phrase.traditional %}">{{ phrase.traditional }}</a>
        {% if phrase.traditional != phrase.simplified %}
        <span class="small text-muted">[{{ phrase.simplified }}]</span>
        {% endif %}

        {% if phrase in user.profile.starred_phrases.all %}
        <a onclick="unstarPhrase({{ phrase.id }});"><span class="glyphicon glyphicon-star"></span></a>
        {% else %}
        <a onclick="starPhrase({{ phrase.id }});"><span class="glyphicon glyphicon-star-empty"></span></a>
        {% endif %}
      </h4>

      <div>
        /{{ phrase.pinyin|pinyin_ascii_to_unicode }}/
        {% url 'audio_view' phrase.pinyin as audio_url %}
        <a href="{{ audio_url }}" onclick="return playAudio('{{ audio_url }}')"><span class="glyphicon glyphicon-volume-up"></span></a>
      </div>

      <ul>
        {% for translation in phrase.translation_set.all %}
        <li>{{ translation.translation|pinyin_ascii_to_unicode|urlize_chinese }}</li>
        {% endfor %}
        <li id="gt_{{ phrase.pk }}">
          [<a onclick="googleTranslate('gt_{{ phrase.pk }}', '{{ phrase.traditional }}', 'zh-tw', 'en');">Google Translate</a>]
        </li>
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>

<ul class="pagination">
  <li>
    {% if page.has_previous %}
    <a href="?q={{ search_query|urlencode }}&p={{ page.previous_page_number }}">Previous</a>
    {% else %}
    <a class="disabled">Previous</a>
    {% endif %}
  </li>
  <li>
    {% if page.has_next %}
    <a href="?q={{ search_query|urlencode }}&p={{ page.next_page_number }}">Next</a>
    {% else %}
    <a class="disabled">Next</a>
    {% endif %}
  </li>
</ul>

{% endblock content %}
